/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

/*
//------------------------------
//
//  Global
//
//------------------------------
*/
/*
global {
	fontFamily: 'Myriad Pro';
	fontLookup: embeddedCFF;
	font-weight: normal; 	
	font-size: 12;
}
*/

s|WindowedApplication
{	 
	background-blend:			difference;	
	background-position: 		center;
	
	skinClass:  				ClassReference("skin.components.CustomApplicationSkin");
}

.cotizacionSkin {
	skinClass: ClassReference("skin.components.CotizacionTitleWindow");
}


s|TextInput:normalWithPrompt {
	color: #C1C1C1;
}

s|TextInput:disabledWithPrompt {
	color: #CCFFFF;
}

s|Panel {
	skinClass: ClassReference("skin.components.MyPanelSkin");
	fontLabelTitle: 18;
}
	

s|DataGrid {
	selectionColor: #6666ff;
	borderAlpha: 0.4;
	
}

.txtCotizaciones {
	skinClass: ClassReference("skin.components.CotizacioesTextInput");
	
	borderVisible: false;
}

.pntLineasVenta {
	skinClass: ClassReference("skin.components.PnlSinTituloSkin");
	
	backgroundAlpha: 0;
	borderVisible: false;
}

.pnlInterno {
	skinClass: ClassReference("skin.components.MyPanelSkin");
	
	dropShadowVisible: false;
	backgroundColor: #EFEFEF;
	backgroundAlpha: 0.1;
	headerTitleAlpha:.28;
	borderAlpha: .1;
	borderVisible: true;
	fontLabelTitle: 13;
}
