/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

/* FLEX4 */
@namespace components "com.hillelcoren.components.*";

/*List
//------------------------------
//
//  Global
//
//------------------------------
*/
global {
	font-family: Arial,Verdana,Tahoma;
	fontWeight: normal;
	
	locale: 'es-ES'; 
}

s|Application { 
	locale: 'es-ES'; 

	background-blend:			difference;	
	background-position: 		center;
	
	skinClass:  				ClassReference("skin.components.CustomApplicationSkin");
}

s|Button.emphasized {
	skinClass: ClassReference("skin.components.ButtonSkin");
}

s|TitleWindow {
	skinClass: ClassReference("skin.components.MyTitleWindowSkin");
}


s|DropDownList {
	skinClass: ClassReference("skin.components.comboBox.MyDropDownListSkin");
	
	cornerRadius: 0;
}


mx|LinkButton {
	font-family: Arial,Verdana,Tahoma;
	fontLookup: embeddedCFF;
	font-weight: normal;
	font-size: 14;

	cornerRadius: 5;
}

.prueba1 {
	color:					#220000;
	text-selected-color:	#880000;
	roll-over-color:		#880000;
	text-roll-over-color:	#FFFFFF;
}

.prueba2 {
	color:					#003300;
	text-selected-color:	#008800;
	roll-over-color:		#008800;
	text-roll-over-color:	#FFFFFF;
}

.prueba3 {
	color:					#000033;
	text-selected-color:	#000088;
	roll-over-color:		#000088;
	text-roll-over-color:	#FFFFFF;
	
}

.myLabel {
	font-family: Arial,Verdana,Tahoma;
	font-weight: normal;
	font-size: 13;
	
}

s|WindowedApplication {	 
	background-blend:			difference;	
	background-position: 		center;
	
	skinClass:  				ClassReference("skin.components.CustomApplicationSkin");
}

.cotizacionSkin {
	skinClass: ClassReference("skin.components.CotizacionTitleWindow");
}


s|TextInput:normalWithPrompt {
	color: #C1C1C1;
}

s|TextInput:disabledWithPrompt {
	color: #CCFFFF;
}

s|Panel {
	skinClass: ClassReference("skin.components.MyPanelSkin");
	fontLabelTitle: 18;
	shadowFilterColor: "0x000000";
}


s|DataGrid {
	skinClass: ClassReference("skin.components.dataGrid.AbstractDataGridSkin");
	selectionColor: #CEDBEF;
	borderAlpha: 0.2;
	
	/*
	caretColor: #333333;*/
	/*alternatingRowColors: #FAFBFF, #FFFFFF;*/
	/*alternatingRowColors: #FFFFFF, #EDEFF5;*/
	
	
}



#dgExpediciones {
	alternatingRowColors: #FF0000, #FFFFFF;
	selectionColor: #CEDBEF;

}

s|DefaultGridItemRenderer
{	
	color: #000000;
	font-family: Arial,Verdana,Tahoma;
	font-size: 12;
	font-weight: normal;
}


.txtCotizaciones {
	skinClass: ClassReference("skin.components.CotizacioesTextInput");
	
	borderVisible: false;
}

.pntLineasVenta {
	skinClass: ClassReference("skin.components.PnlSinTituloSkin");
	
	backgroundAlpha: 0;
	borderVisible: false;
}

.pnlInterno {
	skinClass: ClassReference("skin.components.MyPanelSkin");
	
	shadowFilterColor: "0x111111";
	
	dropShadowVisible: false;
	backgroundColor: #EFEFEF;
	backgroundAlpha: 0.37;
	headerTitleAlpha:.87;
	borderColor: #879ABF;
	borderAlpha: .76;
	borderVisible: true;
	fontLabelTitle: 16;
}

.pnlInternoArticulo {
	skinClass: ClassReference("skin.components.MyPanelSkin");
	
	shadowFilterColor: "0x111111";
	
	titleBackgroundColor: #666666;
	titleColor: "0xffffff";
	dropShadowVisible: false;
	backgroundColor: #EFEFEF;
	backgroundAlpha: 0.35;
	headerTitleAlpha:.50;
	borderColor: #879ABF;
	borderAlpha: .76;
	borderVisible: true;
	fontLabelTitle: 16;
}


.pnlCotizaciones {
	skinClass: ClassReference("skin.components.MyPanelSkin");
	
	shadowFilterColor: "0x111111";
	
	dropShadowVisible: false;
	backgroundColor: #FFFFFF;
	backgroundAlpha: 0.1;
	headerTitleAlpha:.97;
	borderColor: #879ABF;
	borderAlpha: .16;
	borderVisible: true;
	fontLabelTitle: 14;
}


.pnlForm {
	skinClass: ClassReference("skin.components.MyPanelSkin");
	
	shadowFilterColor: "0xffffff";
	titleBackgroundColor: #666666;
	dropShadowVisible: false;
	backgroundAlpha: 0;
	headerTitleAlpha: .45;
	titleColor: #ffffff;
	borderColor: #879ABF;
	borderAlpha: 0;
	borderVisible: false;
	fontLabelTitle: 14;
}


components|AutoComplete
{
	selected-item-style-name: macMail;
}

.none 
{
	over-skin: ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	up-skin: ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	down-skin: ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	selected-over-skin : ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	selected-up-skin : ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	selected-down-skin : ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	font-weight: normal;
	selected-font-weight: normal;
	show-comma: yes;
}

.underline
{
	over-skin: ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	up-skin: ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	down-skin: ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	selected-over-skin : ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	selected-up-skin : ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	selected-down-skin : ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	text-decoration: underline;
	font-weight: normal;
	selected-font-weight: normal;
	show-comma: yes;
}

.macMail 
{
	over-skin: ClassReference("com.hillelcoren.assets.skins.MacMailSkin");
	up-skin: ClassReference("com.hillelcoren.assets.skins.MacMailSkin");
	down-skin: ClassReference("com.hillelcoren.assets.skins.MacMailSkin");
	selected-over-skin : ClassReference("com.hillelcoren.assets.skins.MacMailSkin");
	selected-up-skin: ClassReference("com.hillelcoren.assets.skins.MacMailSkin");
	selected-down-skin : ClassReference("com.hillelcoren.assets.skins.MacMailSkin");
	padding-top: 0;
	padding-bottom: 0;
	text-selected-color: #FFFFFF;
	padding-left: 8;
	padding-right: 8;
	font-weight: normal; 
}

.facebook 
{
	over-skin: ClassReference("com.hillelcoren.assets.skins.FacebookSkin");
	up-skin: ClassReference("com.hillelcoren.assets.skins.FacebookSkin");
	down-skin: ClassReference("com.hillelcoren.assets.skins.FacebookSkin");
	selected-over-skin : ClassReference("com.hillelcoren.assets.skins.FacebookSkin");
	selected-up-skin : ClassReference("com.hillelcoren.assets.skins.FacebookSkin");
	selected-down-skin : ClassReference("com.hillelcoren.assets.skins.FacebookSkin");        
	padding-top: 0;
	padding-bottom: 0;
	text-selected-color: #FFFFFF;
	padding-left: 2;
	padding-right: 5;
	font-weight: normal;                
}

.actionsMenuButton
{
	over-skin: ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	up-skin: ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	down-skin: ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	selected-over-skin : ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	selected-up-skin : ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	selected-down-skin : ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 4;			
}


.saveButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
		
	iconUp: 		Embed("/assets/general/icon24/Save.png");
	iconOver: 		Embed("/assets/general/icon24/Save.png");
	iconDown:		Embed("/assets/general/icon24/Save.png");
	iconDisabled:	Embed("/assets/general/icon24/Save.png");
		
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
}

.trashButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/Trash.png");
	iconOver: 		Embed("/assets/general/icon24/Trash.png");
	iconDown:		Embed("/assets/general/icon24/Trash.png");
	iconDisabled:	Embed("/assets/general/icon24/Trash.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}

.convertButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/Doc_Convert.png");
	iconOver: 		Embed("/assets/general/icon24/Doc_Convert.png");
	iconDown:		Embed("/assets/general/icon24/Doc_Convert.png");
	iconDisabled:	Embed("/assets/general/icon24/Doc_Convert.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}

.finishButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/Finish.png");
	iconOver: 		Embed("/assets/general/icon24/Finish.png");
	iconDown:		Embed("/assets/general/icon24/Finish.png");
	iconDisabled:	Embed("/assets/general/icon24/Finish.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}

.verButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/Doc_View.png");
	iconOver: 		Embed("/assets/general/icon24/Doc_View.png");
	iconDown:		Embed("/assets/general/icon24/Doc_View.png");
	iconDisabled:	Embed("/assets/general/icon24/Doc_View.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}


.nuevoButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/Doc_New.png");
	iconOver: 		Embed("/assets/general/icon24/Doc_New.png");
	iconDown:		Embed("/assets/general/icon24/Doc_New.png");
	iconDisabled:	Embed("/assets/general/icon24/Doc_New.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}



.eMailButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/Email.png");
	iconOver: 		Embed("/assets/general/icon24/Email.png");
	iconDown:		Embed("/assets/general/icon24/Email.png");
	iconDisabled:	Embed("/assets/general/icon24/Email.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;

}

.emitirButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/Emitir.png");
	iconOver: 		Embed("/assets/general/icon24/Emitir.png");
	iconDown:		Embed("/assets/general/icon24/Emitir.png");
	iconDisabled:	Embed("/assets/general/icon24/Emitir.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;

	focusThickness: 5px;
	focusedTextSelectionColor:true;

}

.salirButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/Exit.png");
	iconOver: 		Embed("/assets/general/icon24/Exit.png");
	iconDown:		Embed("/assets/general/icon24/Exit.png");
	iconDisabled:	Embed("/assets/general/icon24/Exit.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
}

.cerrarButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	focusSkin:ClassReference("skin.components.ButtonSkin"); 

	
	iconUp: 		Embed("/assets/general/icon24/Close.png");
	iconOver: 		Embed("/assets/general/icon24/Close.png");
	iconDown:		Embed("/assets/general/icon24/Close.png");
	iconDisabled:	Embed("/assets/general/icon24/Close.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}


.refrescarButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/Refrescar.png");
	iconOver: 		Embed("/assets/general/icon24/Refrescar.png");
	iconDown:		Embed("/assets/general/icon24/Refrescar.png");
	iconDisabled:	Embed("/assets/general/icon24/Refrescar.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;

	focusThickness: 5px;
	focusedTextSelectionColor:true;

}

.filtrarButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon16/Filtrar.png");
	iconOver: 		Embed("/assets/general/icon16/Filtrar.png");
	iconDown:		Embed("/assets/general/icon16/Filtrar.png");
	iconDisabled:	Embed("/assets/general/icon16/Filtrar.png");
	
	iconWidth: 16;
	iconHeight: 16;
		
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}

.editarButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 

	iconUp: 		Embed("/assets/general/icon24/Modify.png");
	iconOver: 		Embed("/assets/general/icon24/Modify.png");
	iconDown:		Embed("/assets/general/icon24/Modify.png");
	iconDisabled:	Embed("/assets/general/icon24/Modify.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}


.costosButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/Costos.png");
	iconOver: 		Embed("/assets/general/icon24/Costos.png");
	iconDown:		Embed("/assets/general/icon24/Costos.png");
	iconDisabled:	Embed("/assets/general/icon24/Costos.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}


.trackingButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/Calendar.png");
	iconOver: 		Embed("/assets/general/icon24/Calendar.png");
	iconDown:		Embed("/assets/general/icon24/Calendar.png");
	iconDisabled:	Embed("/assets/general/icon24/Calendar.png");
	
	iconWidth: 24;
	iconHeight: 24;

	paddingLeft: 6;
	paddingRight: 6;

	focusThickness: 5px;
	focusedTextSelectionColor:true;

}

.imprimirButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/Print.png");
	iconOver: 		Embed("/assets/general/icon24/Print.png");
	iconDown:		Embed("/assets/general/icon24/Print.png");
	iconDisabled:	Embed("/assets/general/icon24/Print.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}


.nuevaButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	font-family: Arial,Verdana,Tahoma;
	
	iconUp: 		Embed("/assets/general/icon24/Add.png");
	iconOver: 		Embed("/assets/general/icon24/Add.png");
	iconDown:		Embed("/assets/general/icon24/Add.png");
	iconDisabled:	Embed("/assets/general/icon24/Add.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
}

.nuevaButton16
{
	skin-class: 	ClassReference("skin.components.ButtonSkin"); 
	
	font-family: Arial,Verdana,Tahoma;
	
	iconUp: 		Embed("/assets/general/icon16/Add.png");
	iconOver: 		Embed("/assets/general/icon16/Add.png");
	iconDown:		Embed("/assets/general/icon16/Add.png");
	iconDisabled:	Embed("/assets/general/icon16/Add.png");
	
	iconWidth: 16;
	iconHeight: 16;
	
	paddingLeft: 3;
	paddingRight: 3;
	
}

.borrarButton16
{
	skin-class: 	ClassReference("skin.components.ButtonSkin"); 
	
	font-family: Arial,Verdana,Tahoma;
	
	iconUp: 		Embed("/assets/general/icon16/Delete.png");
	iconOver: 		Embed("/assets/general/icon16/Delete.png");
	iconDown:		Embed("/assets/general/icon16/Delete.png");
	iconDisabled:	Embed("/assets/general/icon16/Delete.png");
	
	iconWidth: 16;
	iconHeight: 16;
	
	
}

.saveButton16
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon16/Save.png");
	iconOver: 		Embed("/assets/general/icon16/Save.png");
	iconDown:		Embed("/assets/general/icon16/Save.png");
	iconDisabled:	Embed("/assets/general/icon16/Save.png");
	
	iconWidth: 16;
	iconHeight: 16;

	focusThickness: 5px;
	focusedTextSelectionColor:true;
}

.closeButton16
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon16/Cancel.png");
	iconOver: 		Embed("/assets/general/icon16/Cancel.png");
	iconDown:		Embed("/assets/general/icon16/Cancel.png");
	iconDisabled:	Embed("/assets/general/icon16/Cancel.png");
	
	iconWidth: 16;
	iconHeight: 16;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
}

.aplicarButton16
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon16/Apply.png");
	iconOver: 		Embed("/assets/general/icon16/Apply.png");
	iconDown:		Embed("/assets/general/icon16/Apply.png");
	iconDisabled:	Embed("/assets/general/icon16/Apply.png");
	
	iconWidth: 16;
	iconHeight: 16;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
}

.clearButton16
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon16/Clear.png");
	iconOver: 		Embed("/assets/general/icon16/Clear.png");
	iconDown:		Embed("/assets/general/icon16/Clear.png");
	iconDisabled:	Embed("/assets/general/icon16/Clear.png");
	
	iconWidth: 16;
	iconHeight: 16;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
}

.bajarButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	font-family: Arial,Verdana,Tahoma;
	
	iconUp: 		Embed("/assets/general/icon24/Down.png");
	iconOver: 		Embed("/assets/general/icon24/Down.png");
	iconDown:		Embed("/assets/general/icon24/Down.png");
	iconDisabled:	Embed("/assets/general/icon24/Down.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
	
}

.refrescarButton16
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon16/Refrescar.png");
	iconOver: 		Embed("/assets/general/icon16/Refrescar.png");
	iconDown:		Embed("/assets/general/icon16/Refrescar.png");
	iconDisabled:	Embed("/assets/general/icon16/Refrescar.png");
	
	iconWidth: 16;
	iconHeight: 16;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
}

.goButton16
{
	skin-class: ClassReference("skin.components.IconButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon32/go-jump.png");
	iconOver: 		Embed("/assets/general/icon32/go-jump.png");
	iconDown:		Embed("/assets/general/icon32/go-jump.png");
	iconDisabled:	Embed("/assets/general/icon32/go-jump.png");
	
	iconWidth: 32;
	iconHeight: 32;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
}


.loginButton16
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon16/Login.png");
	iconOver: 		Embed("/assets/general/icon16/Login.png");
	iconDown:		Embed("/assets/general/icon16/Login.png");
	iconDisabled:	Embed("/assets/general/icon16/Login.png");
	
	iconWidth: 16;
	iconHeight: 16;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}

.defaultButton16
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon16/Default.png");
	iconOver: 		Embed("/assets/general/icon16/Default.png");
	iconDown:		Embed("/assets/general/icon16/Default.png");
	iconDisabled:	Embed("/assets/general/icon16/Default.png");
	
	iconWidth: 16;
	iconHeight: 16;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}

.previewButton16
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon16/Preview.png");
	iconOver: 		Embed("/assets/general/icon16/Preview.png");
	iconDown:		Embed("/assets/general/icon16/Preview.png");
	iconDisabled:	Embed("/assets/general/icon16/Preview.png");
	
	iconWidth: 16;
	iconHeight: 16;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}

.agregarCliente
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/AgregarCliente.png");
	iconOver: 		Embed("/assets/general/icon24/AgregarCliente.png");
	iconDown:		Embed("/assets/general/icon24/AgregarCliente.png");
	iconDisabled:	Embed("/assets/general/icon24/AgregarCliente.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}

.exportExcel
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon32/Microsoft_Excel.png");
	iconOver: 		Embed("/assets/general/icon32/Microsoft_Excel.png");
	iconDown:		Embed("/assets/general/icon32/Microsoft_Excel.png");
	iconDisabled:	Embed("/assets/general/icon32/Microsoft_Excel.png");
	
	iconWidth: 32;
	iconHeight: 32;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}


.editarCliente
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/EditarCliente.png");
	iconOver: 		Embed("/assets/general/icon24/EditarCliente.png");
	iconDown:		Embed("/assets/general/icon24/EditarCliente.png");
	iconDisabled:	Embed("/assets/general/icon24/EditarCliente.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}

.editarArticulo
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/EditarCliente.png");
	iconOver: 		Embed("/assets/general/icon24/EditarCliente.png");
	iconDown:		Embed("/assets/general/icon24/EditarCliente.png");
	iconDisabled:	Embed("/assets/general/icon24/EditarCliente.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}


.aceptarButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/Apply.png");
	iconOver: 		Embed("/assets/general/icon24/Apply.png");
	iconDown:		Embed("/assets/general/icon24/Apply.png");
	iconDisabled:	Embed("/assets/general/icon24/Apply.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;

}

.cancelarButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/Cancelar.png");
	iconOver: 		Embed("/assets/general/icon24/Cancelar.png");
	iconDown:		Embed("/assets/general/icon24/Cancelar.png");
	iconDisabled:	Embed("/assets/general/icon24/Cancelar.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;

}

.firstButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/control-first.png");
	iconOver: 		Embed("/assets/general/icon24/control-first.png");
	iconDown:		Embed("/assets/general/icon24/control-first.png");
	iconDisabled:	Embed("/assets/general/icon24/control-first.png");
	
	iconWidth: 16;
	iconHeight: 16;

	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;

}

.lastButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/control-last.png");
	iconOver: 		Embed("/assets/general/icon24/control-last.png");
	iconDown:		Embed("/assets/general/icon24/control-last.png");
	iconDisabled:	Embed("/assets/general/icon24/control-last.png");
	
	iconWidth: 16;
	iconHeight: 16;

	paddingLeft: 12;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
}


.previousButton {
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/control-prev.png");
	iconOver: 		Embed("/assets/general/icon24/control-prev.png");
	iconDown:		Embed("/assets/general/icon24/control-prev.png");
	iconDisabled:	Embed("/assets/general/icon24/control-prev.png");
	
	iconWidth: 16;
	iconHeight: 16;
	
	paddingLeft: 12;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;

}

.nextButton {
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/control-next.png");
	iconOver: 		Embed("/assets/general/icon24/control-next.png");
	iconDown:		Embed("/assets/general/icon24/control-next.png");
	iconDisabled:	Embed("/assets/general/icon24/control-next.png");
	
	iconWidth: 16;
	iconHeight: 16;

	paddingLeft: 12;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;

}

.saveButtonNotas {
	skin-class: ClassReference("skin.components.IconButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/Save.png");
	iconOver: 		Embed("/assets/general/icon24/Save.png");
	iconDown:		Embed("/assets/general/icon24/Save.png");
	iconDisabled:	Embed("/assets/general/icon24/Save.png");

	iconWidth: 16;
	iconHeight: 16;

}


.textButton  {
	skin-class: ClassReference("skin.components.ButtonSkin"); 
}

.textToggleButton {
	skin-class: ClassReference("skin.components.ToggleButtonSkin"); 
}

.exportButton {
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/table-export.png");
	iconOver: 		Embed("/assets/general/icon24/table-export.png");
	iconDown:		Embed("/assets/general/icon24/table-export.png");
	iconDisabled:	Embed("/assets/general/icon24/table-export.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;

}

.icons32
{
	ErrorIcon:       Embed('/assets/general/icon32/cross-circle.png');
	WarningIcon:     Embed('/assets/general/icon32/exclamation.png');
	InformationIcon: Embed('/assets/general/icon32/information.png');

}


.icons48
{
	OkIcon:       Embed('/assets/general/icon48/Ok.png');
}

.hideShowButton
{
	skin-class: ClassReference("skin.components.IconShowSkin"); 
	
	iconUp: Embed("/assets/general/icon24/Minimize.png");
	iconUpAndSelected:Embed("/assets/general/icon24/Maximize.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
}

mx|ToolTip {
	backgroundColor: white;
	backgroundAlpha: 1;
	cornerRadius: 0;
	color: black;
	
	fontSize: 12;
}

#dgClients {
	alternating-item-colors: #FFFFFF, #EDEFF5;
}	

.titleLabel {
	color: #ffffff;
	fontWeight:bold;
}

.titleNumberLabel {
	color: #ffffff;
	fontWeight:bold;
	textAlign: right;
}

.lblNoVencida {
	color: #000000;
	textAlign: left;
}

.numberLabel {
	textAlign: right;
	color: #000000;
}

.lblNumberVencida {
	textAlign: right;
	color: #ff0000;
	fontWeight:normal;
}

.lblVencida {
	textAlign: left;
	color: #ff0000;
	fontWeight:normal;
}


.subtotalLabelName {
	textAlign: left;
	fontWeight:normal;
	fontSize: 13;
	paddingLeft: 10;
}

.subtotalLabel {
	textAlign: left;
	font-weight: bold;
	fontSize: 13;
}

.clienteLabel {
	textAlign: left;
	font-weight: normal;
	fontSize: 11;
}

.clienteLabelNegrita {
	font-family: Arial,Verdana,Tahoma;
	textAlign: left;
	font-weight: bold;
	fontSize: 11;
}

.subtotalLabelRight {
	textAlign: right;
	font-weight: bold;
	fontSize: 13;
}

.totalLabelLeft {
	color: #ffffff;
	
	textAlign: left;
	font-weight: bold;
	fontSize: 13;
}

.totalLabelRight {
	color: #ffffff;
	
	textAlign: right;
	font-weight: bold;
	fontSize: 13;
}

mx|VRule {
	color: #ffffff;
	
}

s|ButtonBar {
	skin-class: ClassReference("skin.components.MyButtonBarSkin"); 
}

/*s|ButtonBar s|ButtonBarButton:upAndSelected,
s|ButtonBar s|ButtonBarButton:overAndSelected,
s|ButtonBar s|ButtonBarButton:downAndSelected,
s|ButtonBar s|ButtonBarButton:disabledAndSelected {
	color: #FFFFFF;
}
s|ButtonBar { 
	color: #000000;
	fontFamily:Helvetica;
	fontSize:14;
}*/

.goButton {
	skin-class: ClassReference("skin.components.IconButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon16/go-into-icon.png");
	iconOver: 		Embed("/assets/general/icon16/go-into-icon.png");
	iconDown:		Embed("/assets/general/icon16/go-into-icon.png");
	iconDisabled:	Embed("/assets/general/icon16/go-into-icon.png");
	
	iconWidth: 16;
	iconHeight: 16;
}

.moneyButton {
	skin-class: ClassReference("skin.components.IconButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon16/Money.png");
	iconOver: 		Embed("/assets/general/icon16/Money.png");
	iconDown:		Embed("/assets/general/icon16/Money.png");
	iconDisabled:	Embed("/assets/general/icon16/Money.png");
	
	iconWidth: 16;
	iconHeight: 16;
}

mx|FormItem {
	fontFamily: Helvetica;
	fontWeight: normal;
	fontSize: 13;
}

s|Label {
	fontSize: 13pt;	
}

s|DefaultGridHeaderRenderer s|Label#labelDisplay {
	color:black;
	fontFamily: Helvetica;
	fontSize: 12pt;	
	font-weight: normal;

}

s|FormItem {
	skin-class: ClassReference("skin.components.MyFormItemSkin");
}

s|FormItem s|Label#labelDisplay {
	textAlign: right;

	fontFamily: Helvetica;
	fontWeight: normal;
	fontSize: 12pt;
	
	color:black;
}

#flowBox {
	borderStyle: solid;
	borderAlpha: 0.5;
}

.icons { 
	personaIcon: Embed('/assets/general/Client.png');
}

.buttonRemoveIcon {
	skin-class: ClassReference("skin.components.SimpleButtonSkin");
	
	up-skin: Embed('/assets/general/icon16/CloseSearch.png');
	over-skin: Embed('/assets/general/icon16/CloseSearch.png');
	down-skin: Embed('/assets/general/icon16/CloseSearch.png');
}

.advancedLabel {
	backgroundColor: #FAFAFA;
	backgroundAlpha:.5;
	borderStyle: none;
}

.buttonCloseSearch {
	skin-class: ClassReference("skin.components.IconButtonSkin2");
	
	up-skin:	Embed('/assets/general/icon16/CloseSearch.png');
	over-skin: 	Embed('/assets/general/icon16/CloseSearch.png');
	down-skin: 	Embed('/assets/general/icon16/CloseSearch.png');
}

.buttonSearch {
	skin-class: ClassReference("skin.components.IconButtonSkin2");
	
	up-skin:	Embed('/assets/general/icon16/Search.png');
	over-skin: 	Embed('/assets/general/icon16/Search.png');
	down-skin: 	Embed('/assets/general/icon16/Search.png');
}

.filterTextInput 
{	
	skin-class: ClassReference("skin.components.BitmapFillBackgroundSkin");
	
	background-image: Embed("/assets/general/textInput.png", scaleGridTop="4", scaleGridBottom="16", scaleGridLeft="4", scaleGridRight="16");
	
	color: #000000;	
	background-size: "100%";
	
	border-style: none;
	border-thickness: 0;
	focus-thickness: 3;
	focus-alpha: .18;
	focus-rounded-corners: 10;
	
	font-family: Helvetica;
	fontLookup: embeddedCFF;
	font-size: 12;
	font-weight: normal;
	
	padding-left: 3;
	padding-top: 2;
}

.filter
{	
	skinClass: ClassReference("skin.components.MyTextInputSkin");
	
	fontFamily: Helvetica;
	font-size: 12;
	
	borderVisible: false;
	backgroundVisible: false;
	
	color:	#000000;
	disabled-color: #999999;
	borderColor: #D6C7C7;
	focusColor: #ff0000;
}

#filter
{	
	skinClass: ClassReference("skin.components.MyTextInputSkin");
	
	fontFamily: Arial,Verdana,Tahoma;
	font-size: 12;
	
	borderVisible: false;
	backgroundVisible: false;
	
	color:	#000000;
	disabled-color: #999999;
	borderColor: #D6C7C7;
	focusColor: #ff0000;
}

.loadPanel {
	skin-class:	ClassReference("skin.components.BitmapFillBackgroundSkin");
	
	background-image: Embed("/assets/general/loadBg.png", scaleGridTop="10", scaleGridLeft="10", scaleGridBottom="46",  scaleGridRight="46");             	
	background-disabled-color: none;
	background-size: "100%";
}


.photoFramework
{
	skin-class: ClassReference("skin.components.BitmapFillBackgroundSkin");
	background-image: Embed("/assets/general/marcoPersona.png", scaleGridTop="20", scaleGridLeft="20", scaleGridBottom="170", scaleGridRight="170");	
	background-size: "100%";	
	border-style: none;
}

.articuloFramework
{
	skin-class: ClassReference("skin.components.BitmapFillBackgroundSkin");
	background-image: Embed("/assets/general/recuadro.png", scaleGridTop="10", scaleGridLeft="10", scaleGridBottom="140", scaleGridRight="140");	
	background-size: "100%";	
	border-style: none;
}

.customTextAreaSkin {
	skinClass: ClassReference("skin.components.CustomTextAreaSkin");

	fontFamily: sans-serif, "_typewriter";
	color: black;
	fontSize: 12;

}

