/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

/* FLEX4 */
@namespace components "com.hillelcoren.components.*";

/*List
//------------------------------
//
//  Global
//
//------------------------------
*/

@font-face {
	src:url("./assets/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf");
	fontFamily: 'RobotoCondensed';
	fontStyle: normal;
	fontWeight: normal;
	embedAsCff: true;
}

@font-face {
	src:url("./assets/fonts/RobotoCondensed/RobotoCondensed-Italic.ttf");
	fontFamily: 'RobotoCondensed';
	fontStyle: italic;
	fontStyle: normal;
	embedAsCff: true;
}

@font-face {
	src:url("./assets/fonts/RobotoCondensed/RobotoCondensed-Bold.ttf");
	fontFamily: 'RobotoCondensed';
	fontStyle: normal;
	fontWeight: bold;
	embedAsCff: true;
}

@font-face {
	src:url("./assets/fonts/RobotoCondensed/RobotoCondensed-BoldItalic.ttf");
	fontFamily: 'RobotoCondensed';
	fontStyle: italic;
	fontWeight: bold;
	embedAsCff: true;
}

global {
	font-family: 'Helvetica', 'sans-serif';
	font-size: 14pt;
	fontWeight: normal;
}

s|TitleWindow {
	skinClass: ClassReference("skin.components.MyTitleWindowSkin");
}

s|DropDownList {
	font-family: 'RobotoCondensed';
	skinClass: ClassReference("skin.components.comboBox.MyDropDownListSkin");
	cornerRadius: 0;
}

s|TextInput {
	font-family: 'RobotoCondensed';
	color: #000000;
}

s|TextInput:normalWithPrompt {
	font-family: 'RobotoCondensed';
	color: #C1C1C1;
}

s|TextInput:disabledWithPrompt {
	font-family: 'RobotoCondensed';
	color: #CCFFFF;
}

s|WindowedApplication {	 
	skinClass: ClassReference("skin.components.CustomApplicationSkin");
	background-blend: difference;	
	background-position: center;
}

s|Panel {
	skinClass: ClassReference("skin.components.MyPanelSkin");
	fontLabelTitle: 18;
	shadowFilterColor: "0x000000";
}

s|DataGrid {	
	font-family: 'RobotoCondensed';
	font-size: 13pt;
	
	skinClass: ClassReference("skin.components.dataGrid.AbstractDataGridSkin");
	selectionColor: #CEDBEF;
	borderAlpha: 0.2;
}

s|DefaultGridItemRenderer {
	font-family: 'RobotoCondensed';
	font-size: 13pt;
	font-weight: normal;

	color: #000000;
}

s|DefaultGridHeaderRenderer s|Label#labelDisplay {
	font-family: 'RobotoCondensed';
	fontSize: 13pt;	
	font-weight: normal;
	
	color:black;
}

s|RichText {
	font-family: 'RobotoCondensed';
}

s|RichEditableText {
	font-family: 'RobotoCondensed';
}	

s|TextArea {
	font-family: 'RobotoCondensed';
}

s|Label {
	font-family: 'RobotoCondensed';
}

s|FormItem {
	font-family: 'RobotoCondensed';
	skin-class: ClassReference("skin.components.MyFormItemSkin");
}

s|FormItem s|Label#labelDisplay {
	font-family: 'RobotoCondensed';
	fontWeight: normal;
	
	textAlign: right;
	color:black;
}

mx|Button {
	background-color: red;
}

s|Button.emphasized {
	font-family: 'RobotoCondensed';
	skinClass: ClassReference("skin.components.ButtonSkin");
}

s|ButtonBar {
	font-family: 'RobotoCondensed';
	skin-class: ClassReference("skin.components.MyButtonBarSkin"); 
}

s|RadioButton {
	font-family: 'RobotoCondensed';
}

s|CheckBox {
	font-family: 'RobotoCondensed';
	skin-class: ClassReference("skin.components.MyCheckBoxSkin"); 

}

/*s|ButtonBar s|ButtonBarButton:upAndSelected,
s|ButtonBar s|ButtonBarButton:overAndSelected,
s|ButtonBar s|ButtonBarButton:downAndSelected,
s|ButtonBar s|ButtonBarButton:disabledAndSelected {
color: #FFFFFF;
}
s|ButtonBar { 
color: #000000;
fontFamily:Helvetica;
fontSize:14;
}*/



mx|LinkButton {
	font-family: 'Helvetica';
	fontLookup: embeddedCFF;
	font-weight: normal;
	font-size: 14;

	cornerRadius: 5;
}

mx|ToolTip {
	font-family: 'Helvetica';
	fontLookup: embeddedCFF;

	backgroundColor: white;
	backgroundAlpha: 1;
	cornerRadius: 0;
	color: black;
}

mx|FormItem {
	font-family: 'Helvetica';
	fontWeight: normal;
}

mx|VRule {
	color: #ffffff;
}

s|Button {
}


components|AutoComplete {
	selected-item-style-name: macMail;
}


.prueba1 {
	color:					#220000;
	text-selected-color:	#880000;
	roll-over-color:		#880000;
	text-roll-over-color:	#FFFFFF;
}

.prueba2 {
	color:					#003300;
	text-selected-color:	#008800;
	roll-over-color:		#008800;
	text-roll-over-color:	#FFFFFF;
}

.prueba3 {
	color:					#000033;
	text-selected-color:	#000088;
	roll-over-color:		#000088;
	text-roll-over-color:	#FFFFFF;
	
}

.myLabel {
	font-weight: normal;
}

.cotizacionSkin {
	skinClass: ClassReference("skin.components.CotizacionTitleWindow");
}

#dgExpediciones {
	alternatingRowColors: #FF0000, #FFFFFF;
	selectionColor: #CEDBEF;
}

.txtCotizaciones {
	skinClass: ClassReference("skin.components.CotizacioesTextInput");
	
	borderVisible: false;
}

.pntLineasVenta {
	skinClass: ClassReference("skin.components.PnlSinTituloSkin");
	
	backgroundAlpha: 0;
	borderVisible: false;
}

.pnlInterno {
	skinClass: ClassReference("skin.components.MyPanelSkin");
	
	shadowFilterColor: "0x111111";
	
	dropShadowVisible: false;
	backgroundColor: #EFEFEF;
	backgroundAlpha: 0.37;
	headerTitleAlpha:.87;
	borderColor: #879ABF;
	borderAlpha: .76;
	borderVisible: true;
	fontLabelTitle: 16;
}

.pnlInternoArticulo {
	skinClass: ClassReference("skin.components.MyPanelSkin");
	
	shadowFilterColor: "0x111111";
	
	titleBackgroundColor: #666666;
	titleColor: "0xffffff";
	dropShadowVisible: false;
	backgroundColor: #EFEFEF;
	backgroundAlpha: 0.35;
	headerTitleAlpha:.50;
	borderColor: #879ABF;
	borderAlpha: .76;
	borderVisible: true;
	fontLabelTitle: 16;
}


.pnlCotizaciones {
	skinClass: ClassReference("skin.components.MyPanelSkin");
	
	shadowFilterColor: "0x111111";
	
	dropShadowVisible: false;
	backgroundColor: #FFFFFF;
	backgroundAlpha: 0.1;
	headerTitleAlpha:.97;
	borderColor: #879ABF;
	borderAlpha: .16;
	borderVisible: true;
	fontLabelTitle: 14;
}


.pnlForm {
	skinClass: ClassReference("skin.components.MyPanelSkin");
	
	shadowFilterColor: "0xffffff";
	titleBackgroundColor: #666666;
	dropShadowVisible: false;
	backgroundAlpha: 0;
	headerTitleAlpha: .45;
	titleColor: #ffffff;
	borderColor: #879ABF;
	borderAlpha: 0;
	borderVisible: false;
	fontLabelTitle: 14;
}



.none {
	over-skin: ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	up-skin: ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	down-skin: ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	selected-over-skin : ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	selected-up-skin : ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	selected-down-skin : ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	font-weight: normal;
	selected-font-weight: normal;
	show-comma: yes;
}

.underline {
	over-skin: ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	up-skin: ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	down-skin: ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	selected-over-skin : ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	selected-up-skin : ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	selected-down-skin : ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	text-decoration: underline;
	font-weight: normal;
	selected-font-weight: normal;
	show-comma: yes;
}

.macMail {
	over-skin: ClassReference("com.hillelcoren.assets.skins.MacMailSkin");
	up-skin: ClassReference("com.hillelcoren.assets.skins.MacMailSkin");
	down-skin: ClassReference("com.hillelcoren.assets.skins.MacMailSkin");
	selected-over-skin : ClassReference("com.hillelcoren.assets.skins.MacMailSkin");
	selected-up-skin: ClassReference("com.hillelcoren.assets.skins.MacMailSkin");
	selected-down-skin : ClassReference("com.hillelcoren.assets.skins.MacMailSkin");
	padding-top: 0;
	padding-bottom: 0;
	text-selected-color: #FFFFFF;
	padding-left: 8;
	padding-right: 8;
	font-weight: normal; 
}

.facebook  {
	over-skin: ClassReference("com.hillelcoren.assets.skins.FacebookSkin");
	up-skin: ClassReference("com.hillelcoren.assets.skins.FacebookSkin");
	down-skin: ClassReference("com.hillelcoren.assets.skins.FacebookSkin");
	selected-over-skin : ClassReference("com.hillelcoren.assets.skins.FacebookSkin");
	selected-up-skin : ClassReference("com.hillelcoren.assets.skins.FacebookSkin");
	selected-down-skin : ClassReference("com.hillelcoren.assets.skins.FacebookSkin");        
	padding-top: 0;
	padding-bottom: 0;
	text-selected-color: #FFFFFF;
	padding-left: 2;
	padding-right: 5;
	font-weight: normal;                
}

.actionsMenuButton {
	over-skin: ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	up-skin: ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	down-skin: ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	selected-over-skin : ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	selected-up-skin : ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	selected-down-skin : ClassReference("com.hillelcoren.assets.skins.BlankSkin");
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 4;			
}


.saveButton {
	skin-class: ClassReference("skin.components.ButtonSkin"); 
		
	iconUp: 		Embed("/assets/general/nuevos/Save.png");
	iconOver: 		Embed("/assets/general/nuevos/Save.png");
	iconDown:		Embed("/assets/general/nuevos/Save.png");
	iconDisabled:	Embed("/assets/general/nuevos/Save.png");
		
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
}

.trashButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/nuevos/Delete.png");
	iconOver: 		Embed("/assets/general/nuevos/Delete.png");
	iconDown:		Embed("/assets/general/nuevos/Delete.png");
	iconDisabled:	Embed("/assets/general/nuevos/Delete.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}

.convertButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/Doc_Convert.png");
	iconOver: 		Embed("/assets/general/icon24/Doc_Convert.png");
	iconDown:		Embed("/assets/general/icon24/Doc_Convert.png");
	iconDisabled:	Embed("/assets/general/icon24/Doc_Convert.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}

.finishButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/Finish.png");
	iconOver: 		Embed("/assets/general/icon24/Finish.png");
	iconDown:		Embed("/assets/general/icon24/Finish.png");
	iconDisabled:	Embed("/assets/general/icon24/Finish.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}

.verButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/Doc_View.png");
	iconOver: 		Embed("/assets/general/icon24/Doc_View.png");
	iconDown:		Embed("/assets/general/icon24/Doc_View.png");
	iconDisabled:	Embed("/assets/general/icon24/Doc_View.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}


.nuevoButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/nuevos/Doc_New.png");
	iconOver: 		Embed("/assets/general/nuevos/Doc_New.png");
	iconDown:		Embed("/assets/general/nuevos/Doc_New.png");
	iconDisabled:	Embed("/assets/general/nuevos/Doc_New.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}



.eMailButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/nuevos/Email.png");
	iconOver: 		Embed("/assets/general/nuevos/Email.png");
	iconDown:		Embed("/assets/general/nuevos/Email.png");
	iconDisabled:	Embed("/assets/general/nuevos/Email.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;

}

.emitirButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/Emitir.png");
	iconOver: 		Embed("/assets/general/icon24/Emitir.png");
	iconDown:		Embed("/assets/general/icon24/Emitir.png");
	iconDisabled:	Embed("/assets/general/icon24/Emitir.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;

	focusThickness: 5px;
	focusedTextSelectionColor:true;

}

.salirButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/Exit.png");
	iconOver: 		Embed("/assets/general/icon24/Exit.png");
	iconDown:		Embed("/assets/general/icon24/Exit.png");
	iconDisabled:	Embed("/assets/general/icon24/Exit.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
}

.cerrarButton {
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	focusSkin:ClassReference("skin.components.ButtonSkin"); 

	
	iconUp: 		Embed("/assets/general/nuevos/Close.png");
	iconOver: 		Embed("/assets/general/nuevos/Close.png");
	iconDown:		Embed("/assets/general/nuevos/Close.png");
	iconDisabled:	Embed("/assets/general/nuevos/Close.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}


.refrescarButton {
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/nuevos/Refrescar.png");
	iconOver: 		Embed("/assets/general/nuevos/Refrescar.png");
	iconDown:		Embed("/assets/general/nuevos/Refrescar.png");
	iconDisabled:	Embed("/assets/general/nuevos/Refrescar.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;

	focusThickness: 5px;
	focusedTextSelectionColor:true;

}

.filtrarButton {
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/nuevos/Filtrar.png");
	iconOver: 		Embed("/assets/general/nuevos/Filtrar.png");
	iconDown:		Embed("/assets/general/nuevos/Filtrar.png");
	iconDisabled:	Embed("/assets/general/nuevos/Filtrar.png");
	
	iconWidth: 16;
	iconHeight: 16;
		
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}

.editarButton {
	skin-class: ClassReference("skin.components.ButtonSkin"); 

	iconUp: 		Embed("/assets/general/nuevos/Editar.png");
	iconOver: 		Embed("/assets/general/nuevos/Editar.png");
	iconDown:		Embed("/assets/general/nuevos/Editar.png");
	iconDisabled:	Embed("/assets/general/nuevos/Editar.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}


.costosButton {
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/Costos.png");
	iconOver: 		Embed("/assets/general/icon24/Costos.png");
	iconDown:		Embed("/assets/general/icon24/Costos.png");
	iconDisabled:	Embed("/assets/general/icon24/Costos.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}


.trackingButton {
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/nuevos/Calendar.png");
	iconOver: 		Embed("/assets/general/nuevos/Calendar.png");
	iconDown:		Embed("/assets/general/nuevos/Calendar.png");
	iconDisabled:	Embed("/assets/general/nuevos/Calendar.png");
	
	iconWidth: 24;
	iconHeight: 24;

	paddingLeft: 6;
	paddingRight: 6;

	focusThickness: 5px;
	focusedTextSelectionColor:true;

}

.imprimirButton {
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/nuevos/Print.png");
	iconOver: 		Embed("/assets/general/nuevos/Print.png");
	iconDown:		Embed("/assets/general/nuevos/Print.png");
	iconDisabled:	Embed("/assets/general/nuevos/Print.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}


.nuevaButton {
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	fontFamily:myFontFamily;
	
	iconUp: 		Embed("/assets/general/nuevos/Add.png");
	iconOver: 		Embed("/assets/general/nuevos/Add.png");
	iconDown:		Embed("/assets/general/nuevos/Add.png");
	iconDisabled:	Embed("/assets/general/nuevos/Add.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
}

.nuevaButton16 {
	skin-class: 	ClassReference("skin.components.ButtonSkin"); 
	
	fontFamily:		myFontFamily;
	
	iconUp: 		Embed("/assets/general/nuevos/Add.png");
	iconOver: 		Embed("/assets/general/nuevos/Add.png");
	iconDown:		Embed("/assets/general/nuevos/Add.png");
	iconDisabled:	Embed("/assets/general/nuevos/Add.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 3;
	paddingRight: 3;
	
}

.borrarButton16
{
	skin-class: 	ClassReference("skin.components.ButtonSkin"); 
	
	fontFamily:		myFontFamily;
	
	iconUp: 		Embed("/assets/general/nuevos/Delete.png");
	iconOver: 		Embed("/assets/general/nuevos/Delete.png");
	iconDown:		Embed("/assets/general/nuevos/Delete.png");
	iconDisabled:	Embed("/assets/general/nuevos/Delete.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	
}

.saveButton16
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/nuevos/Save.png");
	iconOver: 		Embed("/assets/general/nuevos/Save.png");
	iconDown:		Embed("/assets/general/nuevos/Save.png");
	iconDisabled:	Embed("/assets/general/nuevos/Save.png");
	
	iconWidth: 20;
	iconHeight: 20;

	focusThickness: 5px;
	focusedTextSelectionColor:true;
}

.closeButton16
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/nuevos/Close.png");
	iconOver: 		Embed("/assets/general/nuevos/Close.png");
	iconDown:		Embed("/assets/general/nuevos/Close.png");
	iconDisabled:	Embed("/assets/general/nuevos/Close.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
}

.aplicarButton16
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/nuevos/Apply.png");
	iconOver: 		Embed("/assets/general/nuevos/Apply.png");
	iconDown:		Embed("/assets/general/nuevos/Apply.png");
	iconDisabled:	Embed("/assets/general/nuevos/Apply.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
}

.clearButton16
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/nuevos/Clear.png");
	iconOver: 		Embed("/assets/general/nuevos/Clear.png");
	iconDown:		Embed("/assets/general/nuevos/Clear.png");
	iconDisabled:	Embed("/assets/general/nuevos/Clear.png");
	
	iconWidth: 20;
	iconHeight: 20;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
}

.bajarButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	fontFamily:myFontFamily;
	
	iconUp: 		Embed("/assets/general/icon24/Down.png");
	iconOver: 		Embed("/assets/general/icon24/Down.png");
	iconDown:		Embed("/assets/general/icon24/Down.png");
	iconDisabled:	Embed("/assets/general/icon24/Down.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
	
}

.refrescarButton16
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/nuevos/Refrescar.png");
	iconOver: 		Embed("/assets/general/nuevos/Refrescar.png");
	iconDown:		Embed("/assets/general/nuevos/Refrescar.png");
	iconDisabled:	Embed("/assets/general/nuevos/Refrescar.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
}

.goButton16
{
	skin-class: ClassReference("skin.components.IconButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon32/external-link.png");
	iconOver: 		Embed("/assets/general/icon32/external-link.png");
	iconDown:		Embed("/assets/general/icon32/external-link.png");
	iconDisabled:	Embed("/assets/general/icon32/external-link.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
}


.loginButton16
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/nuevos/Ingresar.png");
	iconOver: 		Embed("/assets/general/nuevos/Ingresar.png");
	iconDown:		Embed("/assets/general/nuevos/Ingresar.png");
	iconDisabled:	Embed("/assets/general/nuevos/Ingresar.png");
	
	font-size: 16pt;
	width: 180;
	height: 60;
	
	iconWidth: 24;
	iconHeight: 24;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}

.defaultButton16
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon16/Default.png");
	iconOver: 		Embed("/assets/general/icon16/Default.png");
	iconDown:		Embed("/assets/general/icon16/Default.png");
	iconDisabled:	Embed("/assets/general/icon16/Default.png");
	
	iconWidth: 16;
	iconHeight: 16;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}

.previewButton16
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon16/Preview.png");
	iconOver: 		Embed("/assets/general/icon16/Preview.png");
	iconDown:		Embed("/assets/general/icon16/Preview.png");
	iconDisabled:	Embed("/assets/general/icon16/Preview.png");
	
	iconWidth: 16;
	iconHeight: 16;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}

.agregarCliente
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/nuevos/AgregarCliente.png");
	iconOver: 		Embed("/assets/general/nuevos/AgregarCliente.png");
	iconDown:		Embed("/assets/general/nuevos/AgregarCliente.png");
	iconDisabled:	Embed("/assets/general/nuevos/AgregarCliente.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}

.exportExcel
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/nuevos/Microsoft_Excel.png");
	iconOver: 		Embed("/assets/general/nuevos/Microsoft_Excel.png");
	iconDown:		Embed("/assets/general/nuevos/Microsoft_Excel.png");
	iconDisabled:	Embed("/assets/general/nuevos/Microsoft_Excel.png");
	
	iconWidth: 32;
	iconHeight: 32;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}


.editarCliente
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/EditarCliente.png");
	iconOver: 		Embed("/assets/general/icon24/EditarCliente.png");
	iconDown:		Embed("/assets/general/icon24/EditarCliente.png");
	iconDisabled:	Embed("/assets/general/icon24/EditarCliente.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}

.editarArticulo
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/EditarCliente.png");
	iconOver: 		Embed("/assets/general/icon24/EditarCliente.png");
	iconDown:		Embed("/assets/general/icon24/EditarCliente.png");
	iconDisabled:	Embed("/assets/general/icon24/EditarCliente.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
	
}


.aceptarButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/nuevos/Aceptar.png");
	iconOver: 		Embed("/assets/general/nuevos/Aceptar.png");
	iconDown:		Embed("/assets/general/nuevos/Aceptar.png");
	iconDisabled:	Embed("/assets/general/nuevos/Aceptar.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;

}

.cancelarButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/nuevos/Cancelar.png");
	iconOver: 		Embed("/assets/general/nuevos/Cancelar.png");
	iconDown:		Embed("/assets/general/nuevos/Cancelar.png");
	iconDisabled:	Embed("/assets/general/nuevos/Cancelar.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;

}

.firstButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/nuevos/control-first.png");
	iconOver: 		Embed("/assets/general/nuevos/control-first.png");
	iconDown:		Embed("/assets/general/nuevos/control-first.png");
	iconDisabled:	Embed("/assets/general/nuevos/control-first.png");
	
	iconWidth: 20;
	iconHeight: 20;

	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;

}

.lastButton
{
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/nuevos/control-last.png");
	iconOver: 		Embed("/assets/general/nuevos/control-last.png");
	iconDown:		Embed("/assets/general/nuevos/control-last.png");
	iconDisabled:	Embed("/assets/general/nuevos/control-last.png");
	
	iconWidth: 20;
	iconHeight: 20;

	paddingLeft: 12;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;
}


.previousButton {
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/nuevos/control-prev.png");
	iconOver: 		Embed("/assets/general/nuevos/control-prev.png");
	iconDown:		Embed("/assets/general/nuevos/control-prev.png");
	iconDisabled:	Embed("/assets/general/nuevos/control-prev.png");
	
	iconWidth: 20;
	iconHeight: 20;
	
	paddingLeft: 12;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;

}

.nextButton {
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/nuevos/control-next.png");
	iconOver: 		Embed("/assets/general/nuevos/control-next.png");
	iconDown:		Embed("/assets/general/nuevos/control-next.png");
	iconDisabled:	Embed("/assets/general/nuevos/control-next.png");
	
	iconWidth: 20;
	iconHeight: 20;

	paddingLeft: 12;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;

}

.saveButtonNotas {
	skin-class: ClassReference("skin.components.IconButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/nuevos/Save.png");
	iconOver: 		Embed("/assets/general/nuevos/Save.png");
	iconDown:		Embed("/assets/general/nuevos/Save.png");
	iconDisabled:	Embed("/assets/general/nuevos/Save.png");

	iconWidth: 20;
	iconHeight: 20;

}


.textButton  {
	skin-class: ClassReference("skin.components.ButtonSkin"); 
}

.textToggleButton {
	skin-class: ClassReference("skin.components.ToggleButtonSkin"); 
}

.exportButton {
	skin-class: ClassReference("skin.components.ButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon24/table-export.png");
	iconOver: 		Embed("/assets/general/icon24/table-export.png");
	iconDown:		Embed("/assets/general/icon24/table-export.png");
	iconDisabled:	Embed("/assets/general/icon24/table-export.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
	paddingLeft: 6;
	paddingRight: 6;
	
	focusThickness: 5px;
	focusedTextSelectionColor:true;

}

.icons32
{
	ErrorIcon:       Embed('/assets/general/icon32/cross-circle.png');
	WarningIcon:     Embed('/assets/general/icon32/exclamation.png');
	InformationIcon: Embed('/assets/general/icon32/information.png');

}


.icons48
{
	OkIcon:       Embed('/assets/general/icon48/Ok.png');
}

.hideShowButton
{
	skin-class: ClassReference("skin.components.IconShowSkin"); 
	
	iconUp: Embed("/assets/general/icon24/Minimize.png");
	iconUpAndSelected:Embed("/assets/general/icon24/Maximize.png");
	
	iconWidth: 24;
	iconHeight: 24;
	
}


#dgClients {
	alternating-item-colors: #FFFFFF, #EDEFF5;
}	

.titleLabel {
	color: #ffffff;
	fontWeight:bold;
}

.titleNumberLabel {
	color: #ffffff;
	textAlign: right;
}

.lblNoVencida {
	color: #000000;
	textAlign: left;
}

.numberLabel {
	textAlign: right;
	color: #000000;
}

.lblNumberVencida {
	textAlign: right;
	color: #ff0000;
	fontWeight:normal;
}

.lblVencida {
	textAlign: left;
	color: #ff0000;
	fontWeight:normal;
}

.subtotalLabelName {
	textAlign: left;
	fontWeight:normal;
	fontSize: 13;
	paddingLeft: 10;
}

.subtotalLabel {
	textAlign: left;
	fontSize: 14;
}

.clienteLabel {
	textAlign: left;
	font-weight: normal;
	fontSize: 13;
}

.clienteLabelNegrita {
	fontFamily: "Helvetica";
	textAlign: left;
	fontSize: 13;
}

.subtotalLabelRight {
	textAlign: right;
	fontSize: 14;
}

.totalLabelLeft {
	color: #ffffff;
	
	textAlign: left;
	fontSize: 14;
}

.totalLabelRight {
	color: #ffffff;
	
	textAlign: right;
	fontSize: 14;
}



.goButton {
	skin-class: ClassReference("skin.components.IconButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/icon16/go-into-icon.png");
	iconOver: 		Embed("/assets/general/icon16/go-into-icon.png");
	iconDown:		Embed("/assets/general/icon16/go-into-icon.png");
	iconDisabled:	Embed("/assets/general/icon16/go-into-icon.png");
	
	iconWidth: 16;
	iconHeight: 16;
}

.moneyButton {
	skin-class: ClassReference("skin.components.IconButtonSkin"); 
	
	iconUp: 		Embed("/assets/general/nuevos/Money.png");
	iconOver: 		Embed("/assets/general/nuevos/Money.png");
	iconDown:		Embed("/assets/general/nuevos/Money.png");
	iconDisabled:	Embed("/assets/general/nuevos/Money.png");
	
	iconWidth: 24;
	iconHeight: 24;
}



#flowBox {
	borderStyle: solid;
	borderAlpha: 0.5;
}

.icons { 
	personaIcon: Embed('/assets/general/Client.png');
}

.buttonRemoveIcon {
	skin-class: ClassReference("skin.components.SimpleButtonSkin");
	
	up-skin: Embed('/assets/general/icon16/CloseSearch.png');
	over-skin: Embed('/assets/general/icon16/CloseSearch.png');
	down-skin: Embed('/assets/general/icon16/CloseSearch.png');
}

.advancedLabel {
	backgroundColor: #FAFAFA;
	backgroundAlpha:.5;
	borderStyle: none;
}

.buttonCloseSearch {
	skin-class: ClassReference("skin.components.IconButtonSkin2");
	
	up-skin:	Embed('/assets/general/icon16/CloseSearch.png');
	over-skin: 	Embed('/assets/general/icon16/CloseSearch.png');
	down-skin: 	Embed('/assets/general/icon16/CloseSearch.png');
}

.buttonSearch {
	skin-class: ClassReference("skin.components.IconButtonSkin2");
	
	up-skin:	Embed('/assets/general/icon16/Search.png');
	over-skin: 	Embed('/assets/general/icon16/Search.png');
	down-skin: 	Embed('/assets/general/icon16/Search.png');
}

.filterTextInput {	
	skin-class: ClassReference("skin.components.BitmapFillBackgroundSkin");
	
	background-image: Embed("/assets/general/textInput.png", scaleGridTop="4", scaleGridBottom="16", scaleGridLeft="4", scaleGridRight="16");
	
	color: #000000;	
	background-size: "100%";
	
	border-style: none;
	border-thickness: 0;
	focus-thickness: 3;
	focus-alpha: .18;
	focus-rounded-corners: 10;
	
	font-family: Helvetica;
	fontLookup: embeddedCFF;
	font-weight: normal;
	
	padding-left: 3;
	padding-top: 2;
}

.filter {	
	skinClass: ClassReference("skin.components.MyTextInputSkin");
	
	fontFamily: "Helvetica";
	
	borderVisible: false;
	backgroundVisible: false;
	
	color:	#000000;
	disabled-color: #999999;
	borderColor: #D6C7C7;
	focusColor: #ff0000;
}

#filter {	
	skinClass: ClassReference("skin.components.MyTextInputSkin");
	
	fontFamily: "Helvetica";
	
	borderVisible: false;
	backgroundVisible: false;
	
	color:	#000000;
	disabled-color: #999999;
	borderColor: #D6C7C7;
	focusColor: #ff0000;
}

.loadPanel {
	skin-class:	ClassReference("skin.components.BitmapFillBackgroundSkin");
	
	background-image: Embed("/assets/general/loadBg.png", scaleGridTop="10", scaleGridLeft="10", scaleGridBottom="46",  scaleGridRight="46");             	
	background-disabled-color: none;
	background-size: "100%";
}


.photoFramework
{
	skin-class: ClassReference("skin.components.BitmapFillBackgroundSkin");
	background-image: Embed("/assets/general/marcoPersona.png", scaleGridTop="20", scaleGridLeft="20", scaleGridBottom="170", scaleGridRight="170");	
	background-size: "100%";	
	border-style: none;
}

.articuloFramework
{
	skin-class: ClassReference("skin.components.BitmapFillBackgroundSkin");
	background-image: Embed("/assets/general/recuadro.png", scaleGridTop="10", scaleGridLeft="10", scaleGridBottom="140", scaleGridRight="140");	
	background-size: "100%";	
	border-style: none;
}

.customTextAreaSkin {
	skinClass: ClassReference("skin.components.CustomTextAreaSkin");

	fontFamily: sans-serif, "_typewriter";
	color: black;
	fontSize: 13;

}

mx|Alert {
	titleStyleName: "alertTitle";
	messageStyleName: "alertMessage";
	buttonStyleName: "alertButton";
	cornerRadius: 0;
	embedFonts: true;
	fontFamily: 'Helvetica';
}

.alertTitle {
	letterSpacing: 0;
	fontSize: 14;
}

.alertMessage {
	letterSpacing: 0;
	fontSize: 13;
	fontWeight: normal;
	color: black;
}

.alertButton {
	skin-class: ClassReference("skin.components.ButtonSkin");
	fontWeight: normal;
	textRollOverColor: blue;
	fontSize: 14;
}


